body{
    background-color: gainsboro;
    width: 1500px;
}
.category{
    display: flex;
    justify-content: space-around;
    
}
#header, #main, .category{
    margin-bottom: 20px;
}
#header{
    text-align: center;
}
.films{
   
}
.imgDiv,.infoDiv{
    width: 320px;
    
    padding: 20px;
}
.imgDiv img{
    width: 350px;
    height: 525px;
}
.allmovies{
    display: flex; 
    flex-wrap: wrap;
}
.movieCat img{
    width: 400px;
    height: 550px;
    margin-right: 30px;
}
.movieCat{
    display: flex;
}
h3{
    font-weight:normal;

}
